*{
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #252525;
}
html{
	height: 100%;
  	box-sizing: border-box;
}
body{
	background-color: #EFF5F9;
	position: relative;
 	min-height: 100%;
 	display: flex;
 	flex-direction: column;
}
h1{
	font-size: 30px;
}
/*Konfiguracja hedera*/
header{
	width: 100%;
	display: flex;
	align-items: center;
}
header>.menu{
	display: flex;
	float: left;
	padding: 1%;
	background-color: #EEF5FA;
}
header>.menu1, .menu3{
	width: 18%;
	height: 100%;
	background-color: #EEF5FA;
}
header>.menu1>p{
	font-size: 30px;
	margin-top: auto;
	margin-bottom: auto;
}
header>.menu2{
	width: 58%;
	height: 100%;
	justify-content: space-around;
}
header>.menu2>a{
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
}
header>.menu3{
	justify-content: right;
	align-items: center;
}
header>.menu3>.log{
	float: right;
	display: flex;
	align-items: center;
}
header>.menu3>.log>a{
	text-decoration: none;
}
/*sekcja zamówienia z koszu*/
article{
	width: 68%;
	padding: 1%;
	display: flex;
	margin: auto;
	border: 1px solid #000;
	border-radius: 10px;
}
article>.konfig-kosz{
	padding: 1%;
}
article>.konfig-kosz:first-child{
	width: 59%;
}
article>.konfig-kosz:first-child>.towar{
	display: flex;
	align-items: center;
	border: 1px solid #000;
	margin: 1%;
	border-radius: 10px;
}
article>.konfig-kosz:first-child>.towar>img{
	margin: 5%;
}
article>.konfig-kosz:first-child>.towar>.info{
	width: 65%;
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	
}
article>.konfig-kosz:first-child>.towar>.info>form>button{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
article>.konfig-kosz:last-child{
	width: 39%;
	text-align: center;
	display: flex;
	justify-content: center;
}
article>.konfig-kosz:last-child>div{
	position: fixed;
}
article>.konfig-kosz:last-child>div>form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
article>.konfig-kosz:last-child>div>form>input{
	margin: 5%;
	border: none;
	outline: none;
	padding: 5%;
}
article>.konfig-kosz:last-child>div>form>input:nth-child(2){
	border-bottom: 1px solid #000;
	text-align: center;
	background-color: transparent;
}
article>.konfig-kosz:last-child>div>form>input:last-child{
	background-color: #252525;
	color: #d7d7d7;
	border-radius: 10px;
	cursor: pointer;
}
article>.konfig-kosz:first-child>form>input{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
/*stopka*/
footer{
	width: 100%;
	position: inherit;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #E8EEF1;
	display: flex;
	justify-content: center;
}
footer>div{
	width: 40%;
	padding: 2%;
}
footer>div>h1{
	text-align: center;
}